<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changelog</title>
</head>
<body>

<div align="center">
    --------> V3 In Space
    v0.0.4 -
    v0.0.3 - UI Experimental para Testes
    v0.0.2 - Controllers implemetados e testados
    v0.0.1 - Reinicio do projeto !? Again!


    --------> V2 A Revanche
    v0.0.2 - Implosão do projeto !
    v0.0.1 - Reinicio do projeto !?


    --------> V1 First Blood

    v0.0.7 - Mudança de Controllers
    v0.0.6 - Fixes para todos os lados
    v0.0.5 - CRUD Teoricamente Funcional
    v0.0.4 - Controller
    v0.0.3 - Repository
    v0.0.2 - Classes + Db + DAO?
    v0.0.1 - Inicio do projeto,Add SpringBoot
</div>


</body>
</html>