<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Changelog</title>
</head>
<body>


<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Changelog</h1>
                    <br></br>
                    <p>

                        --------> V4 Run to the Hills !!!<br><br>
                        v4.0.2 - Funcional ?<br>
                        v4.0.2 - Jenkins<br>
                        v4.0.2 - Server Univates<br>
                        v4.0.1 - Remake do projeto<br>

                        <br></br>
                        --------> V3 In Space<br><br>
                        v3.2.0 - Demo 2 +-  <br>
                        v3.1.5 - Testes Simples  <br>
                        v3.1.4 - Fixes  <br>
                        v3.1.3 - Start CRUD Receitas  <br>
                        v3.1.2 - Start CRUD Despesas  <br>
                        v3.1.1 - Fixes  <br>
                        v3.1.0 - Demo 1  <br>
                        v3.0.9 - Demo do Trabalho Teoricamente Funcional <br>
                        v3.0.8 - Login Funcional <br>
                        v3.0.7 - Login +- <br>
                        v3.0.6 - UI Finalizada? <br>
                        v3.0.5 - Listagem, edit e delete OK<br>
                        v3.0.4 - UI +-<br>
                        v3.0.3 - UI Experimental para Testes<br>
                        v3.0.2 - Controllers implementados e testados<br>
                        v3.0.1 - Reinicio do projeto !? Again!<br>

                        <br></br>

                        --------> V2 A Revanche<br><br>

                        v2.0.2 - Implosão do projeto !<br>
                        v2.0.1 - Reinicio do projeto !?<br>

                        <br></br>

                        --------> V1 First Blood<br><br>

                        v1.0.8 - Derretimento do projeto !<br>
                        v1.0.7 - Mudança de Controllers<br>
                        v1.0.6 - Fixes para todos os lados<br>
                        v1.0.5 - CRUD Teoricamente Funcional<br>
                        v1.0.4 - Controller<br>
                        v1.0.3 - Repository<br>
                        v1.0.2 - Classes + Db + DAO?<br>
                        v1.0.1 - Inicio do projeto,Add SpringBoot<br>

                    </p>
                </div>
            </div>
        </div>
    </section>
</div>


</body>
</html>