<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">


    <title>Analista de Falência Pessoal</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

                <div>

                    <section layout:fragment="content">
                        <div class="container my-5">
                            <h3>Editar Despesa<br><br></h3>
                            <div th:each="d : ${despesa}" class="container detalhesDespesa">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-10">

                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="form-group col-md-8">
                                                        <label for="nome" class="col-form-label">Nome da
                                                            Despesa</label>
                                                        <input type="text" class="form-control" name="nome"
                                                            id="nome" placeholder="nome" th:value="${d.nome}" required><span
                                                            class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-md-8">
                                                        <label for="valor" class="col-form-label">Valor</label>
                                                        <input type="text" class="form-control" name="valor"
                                                               id="valor" placeholder="valor" th:value="${d.valor}" required><span
                                                            class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="submit" class="btn btn-primary"
                                                            value="Editar Despesa">
                                                    </div>

                                                    <div class="form-group col-md-8"></div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </section>
        </div>
        </main>
    </div>
    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>

</html>

<body>